<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body>
    <header th:replace="layout :: header"></header>
    <div class="container">
        <ul style="margin-top: 50px">
            <li th:each="task : ${tasks}">
                <form method="post" th:action="@{/mark}" class="inline todo-item">
                    <input type="hidden" name="id" th:value="${task.id}"/>
                    <input type="checkbox" th:id="|checked_${task.id}|" th:checked="${task.complete}"/>
                    <label class="task-description" th:for="|checked_${task.id}|" th:text="${task.description}"></label>
                    <label th:if="${task.dueDate}" class="due-date" style="font-size: 20px">
                        Due Date:
                        <small th:text="${task.dueDate}"></small>
                    </label>
                    <a href="#" th:href="@{/delete/} + ${task.id}"><img class="red-x" th:src="@{/assets/images/redX.png}" alt="delete"></a>
                </form>
            </li>
            <li>
                <form method="post" th:object="${newTask}" th:action="@{/tasks}" class="inline new-item">
                    <div class="row">
                        <div class="col-md-7">
                            <label>
                                <input type="text" th:field="*{description}" placeholder="New task" autocomplete="off"/>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="date" name="dueDate" th:value="${#dates.format(dueDate, 'yyyy-mm-dd')}" />
                        </div>
                        <div class="col-md-2">
                            <input class="btn btn-primary" type="submit"></input>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <div th:replace="layout :: scripts"></div>
</body>
</html>