<!DOCTYPE html>
<html lang="en">
<!--Header layout-->
<head th:replace="layout :: head"></head>
<body>
<!--Main Content-->
    <header th:replace="layout :: header"></header>
    <div class="container">
        <ul style="margin-top: 50px">
            <li th:each="task : ${tasks}">
                <form method="post" th:action="@{/mark}" th:object="${task}" class="inline todo-item">
                    <input type="hidden" name="id" th:value="*{id}"/>
                    <input type="checkbox" th:id="|checked_*{id}|" th:checked="*{complete}"/>
                    <label class="task-description" th:for="|checked_*{id}|" th:text="*{description}"></label>
                    <label th:if="*{dueDate}" class="due-date" style="font-size: 20px">
                        | Due: <small th:text="${#dates.format(task.dueDate, 'MMM d, yyyy')}"></small>
                    </label>
                    <a href="#" th:href="@{/delete/} + *{id}"><img class="red-x" th:src="@{/assets/images/redX.png}" alt="delete"></a>
                </form>
            </li>
            <li>
                <form method="post" th:object="${newTask}" th:action="@{/tasks}" class="inline new-item">
                    <div class="row">
                        <div class="col-md-7">
                            <label>
                                <input type="text" th:field="*{description}" placeholder="New task" autocomplete="off"/>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input type="date" name="dueDate" th:value="*{dueDate}" />
                        </div>
                        <div class="col-md-2">
                            <input class="btn btn-primary" type="submit" />
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <!--End of Main Content-->
    <!--Footer layout-->
    <div th:replace="layout :: scripts"></div>
</body>
</html>